* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #232427;
    height: 5000px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 150px;
}

.block {
    position: relative;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    width: 320px;
    height: 450px;
    margin-right: 55px;
}

.card {
    position: absolute;
    background-color: #232427;
    width: 270px;
    height: 410px;
    margin: 24px 0px 15px 26px;
}

.container .block .card:hover {
    /* box-shadow: 135px 0px 0px inset rgba(255, 255, 255, 0.1); */
    transform: translateY(-55px);
    transition: 1s;
    box-shadow: 135px 0px 0px inset rgba(255, 255, 255, 0.1);
}

.content {
    border: 5px solid #1d1c1c;
    text-align: center;
    width: 270px;
    height: 410px;
}

.content h2,
h3 {
    position: absolute;
}

.container .block .card .content h2 {
    font-size: 132px;
    color: rgba(255, 255, 255, 0.1);
    right: 20px;
    top: 0px;
    left: 98px;
}

.container .block .card .content h3 {
    font-size: 30px;
    color: white;
    top: 95px;
    left: 70px;
}

.container .block .card .content p {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.9);
    padding: 166px 0 110px 13px;
    width: 248px;
    height: 120px;
}

.container .block .card .content a {
    padding: 7px 10px;
    text-decoration: none;
    border: 0px solid black;
    border-radius: 5px;
    background: #2196f3;
    color: white;
    font-size: 20px;
}

.container .block:nth-child(2) .card .content a {
    background: #e91e63;
}

.container .block:nth-child(3) .card .content a {
    background: #23c186;
}

.container .block .card .content a:hover {
    background: white;
    color: black;
}

.container1 {
    position: relative;
    margin-top: 200px;
    height: 100px;
}


.content1 {
    position: fixed;
    background-color: #1d1c1c;
    height: 60px;
    line-height: 30px;
    width: 1450px;
    top: 0px;
    left: 35px;
    border: 2px solid rgba(0, 0, 0, 0.441);
    padding-right: 2px;
    display: inline-flex;
    font-size: 20px;
}

.container1 .content1 a {
    text-decoration: none;
    color: white;
}

.container1 .content1 .content2 a:nth-child(1) {
    color: aqua;
}

.container1>.content1>a:nth-child(1) {
    padding-right: 50%;
}

.container1 .content1 .content2 a {
    padding-right: 20px;
}